<div fxLayout="row" fxLayoutAlign="center" fxLayoutWrap>
  <h3 fxFlex="100">User Options</h3>
  <md-dialog-content fxFlex="100">
    <md-list>
      <md-list-item>
        <md-slide-toggle [(ngModel)]="options.recipeInfo">Recipe info box</md-slide-toggle>
      </md-list-item>
      <md-list-item>
        <md-slide-toggle [(ngModel)]="options.shoppingInfo">Shopping list info box</md-slide-toggle>
      </md-list-item>
    </md-list>
  </md-dialog-content>
  <md-dialog-actions fxflex="100" fxlayout="row">
    <button md-raised-button
            fxFlex="50"
            md-dialog-close="yes">
      Sign out
    </button>
    <button md-raised-button
            fxFlex="50"
            md-dialog-close="no">
      Return
    </button>
  </md-dialog-actions>
</div>



