<div class="row">
  <div class="col-xs-8">
    <form [formGroup]="ingredientForm" novalidate (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text"
                 id="name"
                 class="form-control"
                 formControlName="ingredientName" contenteditable="true">
        </div>
        <div class="col-sm-1 form-group input-group">
          <label for="amount">Amount</label>
          <input type="text"
                 id="amount"
                 class="form-control"
                 formControlName="ingredientAmount">
        </div>

        <div class="col-xs-8">
          <p>{{ingredientForm.value | json}}</p>
          <p>{{ingredientForm.valid | json}}</p>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-success" type="submit">Add</button>
            <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
