.recipe-icon {
  color: dimgrey;
  margin-right: 24px;
}

.timer-icon {
  margin-left: 6px;
}

.ingredient-icon {
  cursor: pointer;
}

.center-text {
  text-align: center;
}

.spacer {
  opacity: 0;
}

.recipe-detail-container {
  margin: 10px;
  position: relative;
}

md-checkbox {
  margin-left: 24px;
}

md-card {
  margin-bottom: 10px;
}

md-list-item {
  margin-bottom: 15px;
}

img {
  max-width: 350px;
  max-height: 350px;
}
