@import "../../../assets/sass-vars";
@import "../../../assets/sass-mixins";
@import "../../../assets/material-shadows";
@import "../../../assets/basic-typography";
@import "../../../assets/material-theme";


/* vars */
%card-width {
  @include breakpoint(1col) {
    width: 100vw;
  }
  @include breakpoint(2col) {
    width: 75vw;
  }
  @include breakpoint(3col) {
    width: 75vw;
  }
  @include breakpoint(4col) {
    width: 75vw;
  }
  @include breakpoint(5col) {
    width: 50vw;
  }
}

$card-image-aspect: 1.777;

// container that holds everything
// has a semi transparent overlay background
.recipe-detail {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  left: 0;
  overflow: hidden;
  z-index: 200;
  background-color: rgba(0, 0, 0, .6);
  opacity: 0;
}

// the card itself
.recipe-detail-card {
  position: absolute;
  transition: all 200ms ease-in-out;
  display: flex;
  flex-direction: column;
  z-index: 200;
}

// holds the image and a few buttons
.recipe-image-card {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;

  .recipe-btn-container {
    position: absolute;
    width: 100%;
    top: 5px;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-content: center;

    .edit-btn {
      font-size: 35px;
      width: 35px;
      height: 35px;
    }
    .back-btn {
      font-size: 40px;
      width: 40px;
      height: 40px;
    }
    md-icon {
      cursor: pointer;
      margin: 0 10px;
      font-weight: 100;
      text-shadow: 2px 2px 8px rgba(0, 0, 0, .6);
      color: white
    }
  }

  .card-image {
    position: relative;
    width: 100%;
    @include aspect-ratio($card-image-aspect);
    background-size: cover;
    background-position: center center;
    @extend %md-shadow-2dp;
  }
}

// all of the extra information
.card-detail {
  width: 100%;
  padding-top: 34px;
  @extend %md-shadow-2dp;
  position: relative;
  transition: all .2s ease-in-out;

  md-card-title {
    font-size: 18px;
    font-weight: 100;
  }

  .recipe-time-container {
    display: flex;
    flex-direction: row;
    align-content: center;

    .time-block {
      padding: 5px 24px;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
    .left {
      padding-left: 12px;
    }
    .center {
      border-left: 1px solid grey;
      border-right: 1px solid grey;
    }
  }
}

// contains the favorite heart fab
.fab-container {
  width: 56px;
  height: 56px;
  position: absolute;
  top: -28px;
  @media screen and (max-width: 767px){
    right: 16px;
  }
  @media screen and (min-width: 768px){
    right: 24px;
  }
  border-radius: 28px;
  overflow: hidden;
  z-index: 3;
  @extend %md-shadow-3dp;

  .card-fav-fab-red {
    color: #FF1744;
  }
  .card-fav-fab-white {
    color: white;
  }
}

// styles having to do with the ingredients and directions

.tab-contents {
  margin-top: 15px;
  overflow: hidden;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  li {
    padding-left: 10px;
    display: flex;
    margin: 10px 0;
    font-size: 13px;
    font-weight: 100;
    flex-direction: row;
    align-items: center;

    md-icon {
      margin-right: 12px;
    }

  }
}
