<script src="../../shoppinglist/shoppinglist.service.ts"></script>
<div class="row">
  <div class="col-xs-12">
    <img
      src=""
      alt=""
      class="img-responsive"
    >
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <img src="{{currentRecipe.imagePath}}" class="img-responsive">
    <h1>{{currentRecipe.name}}</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button
        type="button"
        class="btn btn-primary
        dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>

      <ul class="dropdown-menu">
        <li><a (click)="onAddAllClicked()" style="cursor: pointer" >Add to Shopping List</a></li>
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="#">Delete Recipe</a></li>

      </ul>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <p>{{currentRecipe.description}}</p>

  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item"
          *ngFor="let ingredient of currentRecipe.ingredients">
        {{ingredient.name}} ({{ingredient.amount}} {{ingredient.unit}})
      </li>
    </ul>
  </div>
</div>
