<div class="recipe-detail-container" id="recipeDetail">

  <md-card>
    <md-card-header>
      <md-card-title>
        <h2>{{currentRecipe.name}}</h2>
      </md-card-title>
    </md-card-header>

    <img md-card-image
         appImgFallback="http://i347.photobucket.com/albums/p476/zhl146/dummy-recipe-img_zps1tgdgkkf.png"
         src="{{currentRecipe.imagePath}}"
         alt="">

    <md-card-content>
      <p>{{currentRecipe.description}}</p>
    </md-card-content>

    <md-card-actions>
      <button md-button
              routerLink="edit">
        Edit Recipe
      </button>

      <button md-button
              (click)="onDeleteClicked()">
        Delete Recipe
      </button>


    </md-card-actions>

  </md-card>

  <md-card>
    <md-card-header>
      <md-card-title>
        <h3>Ingredients</h3>
      </md-card-title>
    </md-card-header>
    <md-card-content>
      <md-list dense>
        <md-list-item *ngFor="let ingredient of currentRecipe.ingredients">

          <md-icon md-list-icon
                   (click)="onAddIngredient(ingredient)"
                   class="recipe-icon ingredient-icon">
            add_shopping_cart
          </md-icon>

          <p>{{ingredient}}</p>
        </md-list-item>
      </md-list>
    </md-card-content>
    <md-card-actions>
      <button md-button
              (click)="onAddAllClicked()">
        Add all ingredients to list
      </button>
    </md-card-actions>
  </md-card>

  <md-card>
    <md-card-header>
      <md-card-title>

        <h3>Directions</h3>
        <div fxLayoutAlign="start center" fxLayout="row">
          <md-icon class="recipe-icon timer-icon">timer</md-icon>
          <p>
            Prep:    {{currentRecipe.prepTime | timePipe}}
            <br>
            Cook:    {{currentRecipe.cookTime |timePipe}}
            <br>
            Done in: {{currentRecipe.prepTime + currentRecipe.cookTime | timePipe}}
          </p>
        </div>

      </md-card-title>
    </md-card-header>

    <md-card-content>
      <md-list dense>
        <md-list-item *ngFor="let step of currentRecipe.steps">
          <md-checkbox></md-checkbox>
          <p>{{step}}</p>
        </md-list-item>
      </md-list>
    </md-card-content>

  </md-card>

</div>
