<div fxLayout="row"
     fxLayoutAlign="center"
     fxLayoutWrap>

  <md-card fxFlex="100"
           fxFlexAlign="center"
           class="splash-card"
           fxLayoutWrap
           fxLayout="column"
           fxLayoutAlign.lt-md="start center"
           fxLayoutAlign.gt-sm="center center">

    <h1>Welcome to Recipe Helper</h1>
    <p fxHide.xs="true">
      Please sign in to get access to your personal recipes and shopping list.
    </p>

    <router-outlet></router-outlet>
  </md-card>
</div>

