<div fxLayout="row" fxLayoutAlign="center" fxLayoutWrap>

  <div class="auth-spacer" fxFlex="100"></div>

  <md-card fxFlex="40" class="auth-card">
    <md-card-header>
      <h2>Nibh praesent tristique magna sit amet</h2>
    </md-card-header>
    <md-card-content>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </md-card-content>
  </md-card>

  <md-card fxFlex="20" class="auth-card">
    <md-card-content>
      <form [formGroup]="signupForm"
            fxLayoutWrap
            novalidate
            (ngSubmit)="onSubmit()">

        <div *ngIf="auth.errorMessage">
          <p>{{auth.errorMessage}}</p>
        </div>

        <md-input-container fxFlex="100">
          <label for="signupemail">
            e-mail
          </label>
          <input id="signupemail"
                 mdInput
                 type="email"
                 class="form-control"
                 formControlName="email"
                 [ngClass]="{'invalid-input': emailTouched() && !emailValid()}">

          <md-error *ngIf="!auth.errorMessage && emailTouched() && !emailValid()">
            <p>Please enter a vaid e-mail address</p>
          </md-error>

        </md-input-container>

        <md-input-container fxFlex="100">
          <label for="signuppassword">
            password
          </label>
          <input id="signuppassword"
                 mdInput
                 class=form-control
                 type="password"
                 formControlName="password"
                 [ngClass]="{'invalid-input': passwordTouched() && !passwordValid()}">

          <md-error *ngIf="!auth.errorMessage && passwordTouched() && !passwordValid()">
            <p>Your password must be at least 6 characters long</p>
          </md-error>

        </md-input-container>

        <button md-raised-button
                fxFlex="100"
                color="primary"
                type="submit">
          Sign {{submitText}}
        </button>
        <button *ngIf="submitText==='up'"
                fxFlex="100"
                md-raised-button
                color="accent"
                class="btn  col-xs-12"
                type="button"
                (click)="toggleSubmit()">
          Have an account? Sign in instead.
        </button>
        <button *ngIf="submitText==='in'"
                md-raised-button
                fxFlex="100"
                color="accent"
                class="btn  col-xs-12"
                type="button"
                (click)="toggleSubmit()">
          Don't have an account? Sign up!
        </button>

      </form>
    </md-card-content>
  </md-card>

</div>

