<div class="row">

  <div *ngIf="submitText==='up'"
       class="col-xs-12 col-md-6 col-md-offset-1">
    <h2>Nibh praesent tristique magna sit amet</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>

  <div [ngClass]="getFormClass()">
    <div class="row">
      <form [formGroup]="signupForm"
            novalidate
            (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="signupemail">
            e-mail
          </label>
          <input id="signupemail"
                 type="email"
                 class="form-control"
                 formControlName="email"
                 [ngClass]="{'invalid-input': emailTouched() && !emailValid()}">
        </div>

        <div *ngIf="auth.errorMessage">
          <p>{{auth.errorMessage}}</p>
        </div>
        <div *ngIf="!auth.errorMessage && emailTouched() && !emailValid()">
          <p>Please enter a vaid e-mail address</p>
        </div>

        <div class="form-group">
          <label for="signuppassword">
            password
          </label>
          <input id="signuppassword"
                 class=form-control
                 type="password"
                 formControlName="password"
                 [ngClass]="{'invalid-input': passwordTouched() && !passwordValid()}">
        </div>

        <div *ngIf="!auth.errorMessage && passwordTouched() && !passwordValid()">
          <p>Your password must be at least 6 characters long</p>
        </div>

        <button class="btn btn-success col-xs-12 "
                type="submit">
          Sign {{submitText}}
        </button>
        <button *ngIf="submitText==='up'"
                class="btn  col-xs-12"
                type="button"
                (click)="toggleSubmit()">
          Have an account? Sign in instead.
        </button>
        <button *ngIf="submitText==='in'"
                class="btn  col-xs-12"
                type="button"
                (click)="toggleSubmit()">
          Don't have an account? Sign up!
        </button>

      </form>
    </div>

  </div>
</div>

