.auth-login {
  min-width: 250px;
  max-width: 350px;
  margin-top: 10px;
}

.splash-card {
  position: absolute;
  width: 100vw;
  top: 64px;
  bottom: 0;
  background:
    linear-gradient(
        rgba(19, 27, 35, 0.55),
        rgba(19, 27, 35, 0.55)
    ),
    url(../../assets/img/splash/splash-image_x51j2g_c_scale,w_1600.jpg);
  background-size: cover;
  color: white;
  text-align: center;
  padding: 10px;
}

.splash-card p {
  font-size: 16px;
}

.wrapper {
  height: 100%;
  width: 100%;
}

md-input-container {
  margin-bottom: 40px;
}

button {
  margin-bottom: 5px;
}
