<md-card fxFlex.sm="100"
         class="auth-card auth-login">

  <form [formGroup]="resetForm"
        fxLayoutWrap
        novalidate
        (ngSubmit)="onSubmit()">

    <md-card-content><p>Please reset your password.</p></md-card-content>


    <div *ngIf="auth.errorMessage">
      <p>{{auth.errorMessage}}</p>
    </div>

    <md-input-container fxFlex="100">
      <input mdInput
             type="code"
             formControlName="code"
             placeholder="reset code">

    </md-input-container>

    <md-input-container fxFlex="100">
      <input mdInput
             type="password"
             formControlName="password"
             placeholder="new password">

      <md-error fxFlex="100" *ngIf="!auth.errorMessage && passwordTouched() && !passwordValid()">
        <p>Your password must be at least 6 characters long</p>
      </md-error>

    </md-input-container>

    <button md-raised-button
            fxFlex="100"
            color="primary"
            type="submit">
      Reset password
    </button>

  </form>
</md-card>
