<md-card fxFlex.sm="100"
         class="auth-card auth-login" fxLayoutWrap fxLayoutAlign="center">

  <md-card-content fxFlex="100">
    You should receive an e-mail in the next few minutes with your password reset link.
    Follow the link to reset your password and then sign in with your new password.
  </md-card-content>

    <button md-raised-button
            fxFlex="100"
            color="primary"
            type="submit" (click)="goToSignIn()">
      Back to sign in
    </button>

</md-card>
