<div class="recipe-list"
       fxLayoutAlign="center" fxLayout="row" fxLayoutWrap>

  <button md-raised-button
          class="new-recipe-btn"
          color="accent"
          routerLink="new"
          fxFlex="100">
    Create New Recipe
  </button>

  <form [formGroup]="recipeForm" fxFlex="80">
    <md-input-container fxFlex="100">
      <input mdInput
             fxFlex="100"
             formControlName="filter"
             [(ngModel)]="filterString"
             placeholder="search">
      <md-icon md-list-icon (click)="clearFilter()">clear</md-icon>
    </md-input-container>
  </form>


  <app-recipe-item *ngFor="let recipe of recipes | async | recipeFilter: filterString; let i = index"
                   (click)="onSelected(i)"
                   [index]="i"
                   [recipeItem]="recipe">
  </app-recipe-item>

</div>



