@import "../../../assets/sass-vars";
@import "../../../assets/sass-mixins";
@import "../../../assets/material-shadows";
@import "../../../assets/basic-typography";
@import "../../../assets/material-theme";


/* vars */
$card-image-aspect: 1.777;
%card-width {
  @include breakpoint(1col) {
    width: 100%;
  }
  @include breakpoint(2col) {
    width: calc(50% - 20px);
  }
  @include breakpoint(3col) {
    width: calc(33.33% - 40px);
  }
  @include breakpoint(4col) {
    width: calc(25% - 40px);
  }
}

%card-margin {
  @include breakpoint(1col) {
    margin: 10px 0;
  }
  @include breakpoint(2colplus) {
    margin: 5px;
  }
}

/* the base component */
.recipe-list {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.recipe-gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/* contains the new recipe btn and edit btns */
.recipe-utils-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;

  form {
    @extend %card-width;

    /deep/ .mat-input-container {
      width: 100%
    }
  }
}

.new-recipe-btn {
  position: fixed;
  bottom: 24px;
  @include breakpoint(1col) {
    right: 16px;
  }
  @media screen and (min-width: 768px) {
    right: 24px;
  }
  z-index: 3;

  md-icon {
    color: white;
  }
}

.search-bar {
  margin-top: 5px;
  /deep/ md-input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    /deep/ .mat-input-infix {
      display: flex;
    }
    input {
      flex: 1 1 auto;
    }
    /deep/ .mat-input-wrapper {
      width: 80%;

      /deep/ .mat-input-underline {
        width: 80%;
      }
    }
  }
}

/* in this view, this is the image and overlay */
.recipe-image-card {
  @extend %card-margin;
  @extend %card-width;
  display: inline-block;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  position: relative;

  .card-image {
    position: relative;
    width: 100%;
    @include aspect-ratio($card-image-aspect);
    background-size: cover;
    background-position: center center;
    @extend %md-shadow-2dp;

    .favorite-indicator {
      position: absolute;
      top: 10px;
      right: 10px;
    }

    .floor-fade {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4) );
    }

    .title-overlay {
      display: block;
      align-items: center;
      position: absolute;
      bottom: 0;
      padding: 10px 24px ;
      font-size: 18px;
      color: white;
      font-weight: 100;

      md-icon {
        display: block;
      }
    }

  }
}

.recipe-image-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  cursor: pointer;
}

/* just some empty space at the bottom of the page */
.footer-padding {
  height: 100px;
  display: block;
  width: 100%;
}

/* hover shadow effects */
md-card::after {
  @extend %md-shadow-8dp;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

md-card:hover::after {
  opacity: 1;
}

.fav {
  color: #FF1744;
}
.no-fav {
  color: white;
}

.no-fav-blk {
  color: black;
}
