.recipe-nav-icon {
  color: white;
  margin: 10px 24px 10px 24px;
}

.recipe-nav-center-icon {
  font-size: 40px;
  width: 40px;
  height: 40px;
}

.recipe-nav-side-icon {
  margin: auto 24px auto 24px;
  font-size: 30px;
  width: 30px;
  height: 30px;
}
