<md-card fxFlex.sm="100"
         class="auth-card auth-login">

  <form [formGroup]="requestForm"
        fxLayoutWrap
        novalidate
        (ngSubmit)="onSubmit()">

    <md-card-content><p>Please enter your e-mail. If you have an account, you will receive a password reset e-mail shortly!</p></md-card-content>

    <md-input-container fxFlex="100">
      <input mdInput
             type="email"
             formControlName="email"
             placeholder="e-mail">

      <md-error fxFlex="100" *ngIf="!auth.errorMessage && emailTouched() && !emailValid()">
        <p>Please enter a vaid e-mail address</p>
      </md-error>

    </md-input-container>

    <button md-raised-button
            fxFlex="100"
            color="primary"
            type="submit">
      Send reset e-mail
    </button>

  </form>
</md-card>
