<div class="auth-card auth-login">

  <form [formGroup]="requestForm"
        class="auth-form"
        novalidate
        (ngSubmit)="onSubmit()">

    <md-card-content><p>Please enter your e-mail. If you have an account, you will receive a password reset e-mail shortly!</p></md-card-content>

    <md-input-container>
      <input mdInput
             type="email"
             formControlName="email"
             placeholder="e-mail">

      <md-error *ngIf="!auth.errorMessage && emailTouched() && !emailValid()">
        <p>Please enter a vaid e-mail address</p>
      </md-error>

    </md-input-container>

    <button md-raised-button
            color="primary"
            type="submit">
      Send reset e-mail
    </button>

  </form>
</div>
