@import "../assets/sass-vars";

$breakxs: 599px;

@mixin respond-to($media) {
  @if $media == xs {
    @media only screen and (max-width: $breakxs) { @content; }
  }
  @else if $media == not-xs {
    @media only screen and (min-width: $breakxs + 1) { @content; }
  }
}

.content-container {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  background-color: #F5F5F5;
  @include respond-to(xs) {top: $toolbar-height + $navbar-height;}
  @include respond-to(not-xs) {top: $toolbar-height;}
}

.header-container {
  display: flex;
}
