.toolbar-spacer {
  flex: 1 1 auto;
}

.active {
  border: 0.5px solid white;
}

.nav-link {
  cursor: pointer;
}

.toolbar {
  max-width: 1600px;
  height: 64px;
}

.toolbar-extend {
  display: flex;
  background-color: #3f51b5;
  flex: 1 1 auto;
  height: 64px;
  justify-content: center;
}
