.toolbar-spacer {
  flex: 1 1 auto;
}

.active {
  border: 0.5px solid white;
}

.account-icon {
  font-size: 30px;
  height: 30px;
  width: 30px;
}

.toolbar {
  max-width: 1600px;
  height: 64px;
}

.toolbar-extend {
  background-color: #3f51b5;
}
