<md-toolbar color="primary" class="toolbar" fxlayout="row" class="mat-toolbar">
    <a fxLayoutAlign="start" fxFlex="20">Recipe Book</a>

    <div fxFlex="80" fxLayoutAlign="end">
      <button md-button

              class="nav-link"
              *ngFor="let nav of navigation"
              [routerLink]="nav.route"
              routerLinkActive="active">
        {{nav.text}}
      </button>
      <button md-button
              class="nav-link"
              *ngIf="signedIn"
              routerLinkActive="active"
              (click)="onLogOut()">
        Sign out
      </button>
    </div>

</md-toolbar>
