<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" novalidate (ngSubmit)='onSubmit()'>

      <div class="row">
        <div class="col-xs-12">
          <label for="nameinput" class="control-label col-sm-2">Name</label>
          <div class="col-sm-10">
            <input type="text"
                   class="form-control"
                   id="nameinput"
                   formControlName="recName">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <label for="pathinput" class="control-label col-sm-2">Image Path</label>
          <div class="col-sm-10">
            <input type="text"
                   class="form-control"
                   id="pathinput"
                   formControlName="recImgPath">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <label class="control-label col-sm-2" for="textarea">Description</label>
          <div class="col-sm-10">
            <textarea class="form-control"
                      id="textarea"
                      name="textarea"
                      rows="6" formControlName="recDescription">

      </textarea>
          </div>
        </div>

      </div>

      <hr>

      <div class="row">

        <div class="col-xs-6">
          <label class="control-label" for="prepinput">Prep Time</label>
          <div class="input-group col-sm-6">
            <input id="prepinput"
                   class="form-control"
                   type="text"
                   formControlName="recPrep">
            <span  class="input-group-addon">minutes</span>
          </div>
        </div>

        <div class="col-xs-6">
          <label class="control-label" for="cooktime">Cook Time</label>
          <div class="input-group col-sm-6">
            <input id="cooktime"
                   class="form-control"
                   type="text"
                   formControlName="recCook">
            <span class="input-group-addon">minutes</span>
          </div>
        </div>

      </div>

      <hr>

      <div class="row">
        <label class="control-label" for="ingredientList">Ingredient List</label>
        <div class="col-xs-12" formArrayName="recIng">
          <ul class="list-group" id="ingredientList">
            <li class="list-group-item"
                *ngFor="let ingCtrl of recipeForm.get('recIng').controls; let i=index"
                [formGroupName]="i"
                [ngClass]="{last: isLastElement(i, 'recIng')}">
              <div class="input-group">
                  <span class="input-group-addon" *ngIf="!isLastElement(i, 'recIng')">
                    <input type="checkbox">
                  </span>
                <span class="input-group-addon" *ngIf="isLastElement(i, 'recIng')">
                    <span class="glyphicon glyphicon-plus pull-left"
                          aria-hidden="true"
                          (click)="addItemFuncFactory('recIng')()">
                    </span>
                  </span>
                <input type="text"
                       class="form-control"
                       formControlName="text" (keyup)="autoAddNewItem(i, 'recIng')">
                <span class="input-group-addon" *ngIf="!isLastElement(i, 'recIng')">
                    <span class="glyphicon glyphicon-remove"
                          aria-hidden="true"
                          (click)="onDeleteClicked(i, 'recIng')">
                    </span>
                  </span>
              </div>
            </li>
          </ul>

        </div>
      </div>

      <hr>

      <div class="row">
        <label class="control-label" for="stepList">Recipe Instructions</label>
        <div class="col-xs-12" formArrayName="recStep">
          <ul class="list-group" id="stepList">
            <li class="list-group-item"
                *ngFor="let stepCtrl of recipeForm.get('recStep').controls; let i=index"
                [formGroupName]="i"
                [ngClass]="{last: isLastElement(i, 'recStep')}">
              <div class="input-group">
                  <span class="input-group-addon" *ngIf="!isLastElement(i, 'recStep')">
                    <input type="checkbox">
                  </span>
                <span class="input-group-addon" *ngIf="isLastElement(i, 'recStep')">
                    <span class="glyphicon glyphicon-plus pull-left"
                          aria-hidden="true"
                          (click)="addItemFuncFactory('recStep')()">
                    </span>
                  </span>
                <input type="text"
                       class="form-control"
                       formControlName="text" (keyup)="autoAddNewItem(i, 'recStep')">
                <span class="input-group-addon" *ngIf="!isLastElement(i, 'recStep')">
                    <span class="glyphicon glyphicon-remove"
                          aria-hidden="true"
                          (click)="onDeleteClicked(i, 'recStep')">
                    </span>
                  </span>
              </div>
            </li>
          </ul>

        </div>
      </div>

      <button class="btn btn-success"
           type="submit">
        Submit
      </button>
    </form>
  </div>
</div>
