img {
  max-width: 400px;
}

textarea {
  font-size: 14px;
  resize: none;
}

.recipe-detail-container {
  margin: 10px;
}

md-card {
  margin-bottom: 10px;
}

.last {
  opacity: 0.35;
}

.list-item {
  padding: 0 10px 0 10px;
}
