<form [formGroup]="recipeForm"
      novalidate
      class="recipe-detail-container"
      (ngSubmit)='onSubmit()' fxLayoutWrap>

  <md-card fxLayoutWrap
           fxLayout="row"
           fxFlex="100"
           fxLayoutAlign="center center">
    <md-input-container fxFlex="100">
      <input type="text"
             placeholder="Recipe Name"
             fxFlex="100"
             mdInput
             formControlName="recName">
    </md-input-container>

    <md-input-container fxFlex="100">
        <textarea rows="1"
                  fxFlex="100"
                  placeholder="Recipe Image Path"
                  mdTextareaAutosize
                  mdAutosizeMinRows="1"
                  mdInput
                  #imgPath
                  [id]="imgPath"
                  name="textarea"
                  formControlName="recImgPath">
      </textarea>
    </md-input-container>

    <img md-card-image
         [src]="imgPath.value">

  </md-card>

  <md-card fxFlex="100" fxLayout="row" fxLayoutWrap>

    <md-input-container fxFlex="100">
    <textarea rows="1"
              fxFlex="100"
              placeholder="Recipe Description"
              mdTextareaAutosize
              mdAutosizeMinRows="1"
              mdInput
              name="textarea"
              formControlName="recDescription">

      </textarea>
    </md-input-container>

    <md-input-container fxFlex="50">
      <input fxFlex="100"
             mdInput
             placeholder="Prep time in minutes"
             class="form-control"
             type="text"
             formControlName="recPrep">
    </md-input-container>
    <md-input-container fxFlex="50">
      <input fxFlex="100"
             mdInput
             placeholder="Cook time in minutes"
             class="form-control"
             type="text"
             formControlName="recCook">
    </md-input-container>
  </md-card>


  <md-card formArrayName="recIng" fxFlex="100" fxLayout="row" fxLayoutAlign="center" fxLayoutWrap>
    <md-card-header>
      <md-card-title>
        <h2>Ingredients</h2>
      </md-card-title>
    </md-card-header>
    <md-card *ngFor="let ingCtrl of getFormArrayControls('recIng'); let i=index"
             [formGroupName]="i"
             [ngClass]="{last: isLastElement(i, 'recIng')}"
             fxFlex="100"
             class="shopping-card"
             fxLayoutAlign="center center">

      <a (click)="addItemFuncFactory('recIng')()"
         class="list-button"
         *ngIf="isLastElement(i, 'recIng')">
        <md-icon >
          add
        </md-icon>
      </a>

      <md-input-container fxFlex>
        <textarea type="text"
                  rows="1"
                  mdTextareaAutosize
                  mdAutosizeMinRows="1"
                  mdInput
                  formControlName="text"
                  (keyup)="autoAddNewItem(i, 'recIng')">
        </textarea>
      </md-input-container>

      <a class="list-button">
        <div class="icon-placeholder"
             *ngIf="isLastElement(i, 'recIng')">
        </div>
        <md-icon (click)="onDeleteClicked(i, 'recIng')"
                 *ngIf="!isLastElement(i, 'recIng')">
          delete
        </md-icon>
      </a>

    </md-card>

  </md-card>

  <md-card formArrayName="recStep" fxFlex="100" fxLayout="row" fxLayoutAlign="center" fxLayoutWrap>

    <md-card-header>
      <md-card-title>
        <h2>Directions</h2>
      </md-card-title>
    </md-card-header>

    <md-card *ngFor="let stepCtrl of getFormArrayControls('recStep'); let i=index"
             [formGroupName]="i"
             [ngClass]="{last: isLastElement(i, 'recStep')}"
             fxFlex="100"
             class="shopping-card"
             fxLayoutAlign="center center">

      <a (click)="addItemFuncFactory('recStep')()"
         *ngIf="isLastElement(i, 'recStep')">
        <md-icon >
          add
        </md-icon>
      </a>

      <md-input-container fxFlex>
        <textarea type="text"
                  rows="1"
                  mdTextareaAutosize
                  mdAutosizeMinRows="1"
                  mdInput
                  formControlName="text"
                  (keyup)="autoAddNewItem(i, 'recStep')">
        </textarea>
      </md-input-container>

      <a class="list-button">
        <div class="icon-placeholder"
             *ngIf="isLastElement(i, 'recStep')">
        </div>
        <md-icon (click)="onDeleteClicked(i, 'recStep')"
                 *ngIf="!isLastElement(i, 'recStep')">
          delete
        </md-icon>
      </a>

    </md-card>

  </md-card>

  <button md-raised-button color="primary" fxFlex="50">
    Save Recipe
  </button>
  <button type="button"
          md-raised-button
          color="accent"
          fxFlex="50" [routerLink]="['/recipes']">
    Cancel Edit
  </button>
</form>
