$navbar-height: 49px;
$toolbar-height: 64px;

@mixin breakpoint($point) {
  @if $point == 1col {
    @media (max-width: 767px ) { @content; }
  }
  @else if $point == 2col {
    @media (min-width: 768px) and (max-width: 1279px) { @content; }
  }
  @else if $point == 3col {
    @media (min-width: 1280px) and (max-width: 1679px) { @content; }
  }
  @else if $point == 4col {
    @media (min-width: 1680px) { @content; }
  }
  @else if $point == 2colplus {
    @media (min-width: 767px) { @content; }
  }
  @else if $point == mobile {
    @media (max-width: 599px) { @content; }
  }
  @else if $point == notmobile {
    @media (min-width: 600px) { @content; }
  }
}

%mobile-show {
  @include breakpoint(notmobile) { display: none }
  @include breakpoint(mobile) { display: flex }
}

%mobile-hide {
  @include breakpoint(mobile) { display: none }
}

$max-width: 1920px;

%max-window-width {
  @media screen and (max-width: $max-width) {
    width: 100%;
  }
  @media screen and (min-width: $max-width + 1) {
    width: 1920px;
  }
}

%splash-image-background {
  /* put responsive image links here */
}
