/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto');
//@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  background-color: whitesmoke;
}

a {
  cursor: pointer;
}

* {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-container {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}
