<div fxLayout="row"
     fxLayoutAlign="center">
  <div fxFlex.lt-xl="100"
       fxFlex.gt-lg="1920px"
       fxLayout="row"
       fxLayoutAlign="center"
       fxLayoutWrap>

    <div fxFlex.xs="100" fxFlex="38.2"
         fxFlexOrder.gt-xs="2">
      <app-recipe-list></app-recipe-list>
    </div>
    <div fxFlex.xs="100" fxFlex="61.8"
         fxFlexOrder.gt-xs="1"
         id="recipeDetail">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<ng-container *ngIf="recipeDetailView">
  <div class="recipe-nav-footer-padding" fxHide.gt-sm></div>
  <div class="recipe-nav-footer-container"
       fxHide.gt-sm>
    <app-recipe-nav fxLayout="row" fxLayoutAlign="center"></app-recipe-nav>

  </div>
</ng-container>

