@import "../../assets/sass-vars";

%card-width {
  @include breakpoint(1col) {
    width: 100%;
  }
  @include breakpoint(2col) {
    width: 75%;
  }
  @include breakpoint(3col) {
    width: 65%;
  }
  @include breakpoint(4col) {
    width: 55%;
  }
}

.shopping-container {
  display: flex;
  flex-direction: column;
  @extend %card-width;
  margin: auto;
  position: relative;
  @include breakpoint(mobile) { top: $toolbar-height + $navbar-height };
  @include breakpoint(notmobile) { top: $toolbar-height };

  .top-spacer {
    width: 100%;
    height: 10px;
  }


  .clear-all-fab {
    color: white;
    position: fixed;
    bottom: 24px;
    right: 24px;
    border-radius: 28px;
    z-index: 3;
  }

  .last {
    opacity: 0.35;
  }

  .shopping-list-item {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: white;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    will-change: box-shadow;
    padding: 0 15px;
    margin: 5px 0;
    z-index: 1;

    .shopping-icon {
      margin: 0 5px 0 15px;
    }

    .delete-icon {
      margin-left: 10px;
      color: gray;
      width: 20px;
      height: 20px;
      font-size: 20px;
    }

    md-input-container {
      flex: 1 1 auto;
    }

    /deep/ .mat-input-wrapper {
      margin: 10px 10px 5px 10px;
      padding: 0;

      /deep/ .mat-input-underline {
        position: relative;
        border: none;
        margin-right: 20px;
      }
      /deep/ .mat-input-subscript-wrapper {
        height: 0;
        margin: 0;
        padding: 0;
      }
    }

    md-icon {
      cursor: pointer;
    }

    textarea {
      font-size: 14px;
      resize: none;
    }

  }


}






