<form [formGroup]="ingForm"
      novalidate
      (ngSubmit)="updateIngredients()">

  <div formArrayName="ingredients" fxLayout="row" fxLayoutAlign="center" fxLayoutWrap>

    <md-card *ngFor="let ingredientCtrl of ingForm.get('ingredients').controls; let i = index"
             fxFlex="80"
             class="shopping-card"
             fxLayoutAlign="center"
             [formGroupName]="i"
             [ngClass]="{last: isLastElement(i)}">

      <md-checkbox class="shopping-checkbox" *ngIf="!isLastElement(i)"></md-checkbox>
      <div class="list-button"
           *ngIf="isLastElement(i)"
           class="list-button">
        <md-icon (click)="addListItem()">
          plus-circle-outline
        </md-icon>
      </div>
      <md-input-container fxFlex>
        <textarea type="text"
                  rows="1"
                  mdTextareaAutosize
                  mdAutosizeMinRows="1"
                  mdInput
                  class="form-control"
                  formControlName="text" (keyup)="autoAddNewItem(i)"
                  (blur)="updateIngredient(i)"></textarea>
      </md-input-container>

      <div class="list-button"
           *ngIf="!isLastElement(i)"
           class="list-button">
        <md-icon (click)="onDeleteClicked(i)">
          delete
        </md-icon>
      </div>

    </md-card>

  </div>
</form>
