<div class="shopping-container">

  <div class="top-spacer"></div>

  <button md-fab
          [@growInOutTrigger]
          class="clear-all-fab"
          (click)="onClear()"
          type="button">
    <md-icon>clear_all</md-icon>
  </button>

  <form [formGroup]="ingForm"
        fxFlex.lt-md="100"
        fxFlexOrder.lt-md="2"
        fxFlex.gt-sm="76.4"
        novalidate
        (ngSubmit)="updateIngredients()">

    <div formArrayName="shoppingListItems"
         fxLayout="row"
         fxLayoutAlign="center"
         fxLayoutWrap>

      <div *ngFor="let listItemCtrl of getListItemControls(); let i = index"
                    fxFlex="100"
                    class="shopping-list-item"
                    fxLayoutAlign="center"
                    [formGroupName]="i"
                    [ngClass]="{last: isLastElement(i)}" fxLayoutAlign="center center">

        <md-checkbox (change)="updateIngredient(i)"
                     *ngIf="!isLastElement(i)"
                     formControlName="checked"
                     class="shopping-icon">
        </md-checkbox>

        <md-icon md-list-icon
                 class="shopping-icon"
                 *ngIf="isLastElement(i)">
          add
        </md-icon>

        <md-input-container fxFlex="100">
        <textarea fxflex="100"
                  rows="1"
                  mdTextareaAutosize
                  mdAutosizeMinRows="1"
                  mdInput
                  formControlName="text"
                  (keyup)="autoAddNewItem(i)"
                  (blur)="updateIngredient(i)">
        </textarea>
        </md-input-container>

        <md-icon (click)="onDeleteClicked(i)"
                 *ngIf="!isLastElement(i)"
                 class="delete-icon"
                 md-list-icon>
          cancel
        </md-icon>
      </div>
    </div>

  </form>

</div>
