<div class="shopping-container">

  <div class="top-spacer"></div>

  <form [formGroup]="ingForm"
        novalidate
        (ngSubmit)="updateIngredients()">

    <div formArrayName="shoppingListItems"
         fxLayout="row"
         fxLayoutAlign="center"
         fxLayoutWrap>

      <div *ngFor="let listItemCtrl of getListItemControls(); let i = index"
           class="shopping-list-item"
           [formGroupName]="i"
           #listItems
           [ngClass]="{last: isLastElement(i)}">

        <md-checkbox (change)="updateIngredient(i)"
                     *ngIf="!isLastElement(i)"
                     formControlName="checked"
                     class="shopping-icon">
        </md-checkbox>

        <md-icon md-list-icon
                 class="shopping-icon"
                 (click)="onPlus()"
                 *ngIf="isLastElement(i)">
          add
        </md-icon>

        <md-input-container>
        <textarea rows="1"
                  mdTextareaAutosize
                  mdAutosizeMinRows="1"
                  mdInput
                  formControlName="text"
                  (keyup)="autoAddNewItem(i)"
                  (blur)="updateIngredient(i)">
        </textarea>
        </md-input-container>

        <md-icon (click)="onDeleteClicked(i)"
                 *ngIf="!isLastElement(i)"
                 class="delete-icon"
                 md-list-icon>
          cancel
        </md-icon>
      </div>
    </div>

  </form>

  <button md-fab
          *ngIf="clearState === false"
          [@growInOutTrigger]
          class="clear-all-fab"
          (click)="onClearIntent()"
          type="button">
    <md-icon>clear_all</md-icon>
  </button>

  <button md-fab
          *ngIf="clearState === true"
          [@growInOutTrigger]
          class="clear-all-fab"
          (click)="onClear()"
          color="warn"
          type="button">
    <md-icon>delete</md-icon>
  </button>

</div>
