.last {
  opacity: 0.7;
}

.shopping-checkbox {
  margin: 20px;
}
.shopping-card {
  padding: 4px;
  margin-bottom: 10px;
}

.list-button {
  margin: 20px;
}

textarea {
  resize: none;
  wrap: soft;
}
