.last {
  opacity: 0.35;
}

.shopping-checkbox {
  margin: 20px;
}
.shopping-card {
  padding: 4px;
  margin-bottom: 10px;
}

.list-button {
  margin: 20px;
}

textarea {
  resize: none;
  wrap: soft;
}

.icon-placeholder {
  width: 24px;
  height: 24px;
}

mat-input-subscript-wrapper {
  margin: 0;
}

mat-input-wrapper {
  margin: 0;
}

textarea {
  font-size: 14px;
}
